<!-- Footer -->
<footer class="bg-light py-5" style="padding-top: 15rem;">
    <div class="container">
      <div class="small text-center text-muted">
        <div class="row">
          <div class="col">
            <hr>
            Nous contacter: <!-- REPLACE HREF AND TEXT -->
            <a class="d-inline" href="mailto:ezouagh.youness@gmail.com">ezouagh.youness@gmail.com</a>
          </div>
          <div class="col"><hr>
            Copyright © 2020 - EZOUAGH
          </div>
          <div class="col"><hr>
            <a class="d-inline" href="/tos">Conditions d'utilisation</a>
          </div>
        </div>
      </div>
    </div>
</footer>